.education {
  display: flex;
  justify-content: space-evenly;
}
.education-card {
  width: 25%;
  margin: 1%;
  background-color: aliceblue;
  color: black;
  border: 2px solid gray;
  padding: 1%;
}
.edu-title {
  border-bottom: 1px solid black;
}
.edu-dsc {
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}
.edu-date {
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}
.edu-grade {
  padding-top: 2%;
  text-emphasis: emphasis;
  padding-bottom: 2%;
  border-bottom: 1px solid black;
}

/* div{
    border-bottom: 1px solid black;
} */
