.link-container {
  display: flex;
  justify-content: center;
  width: 30%;
  padding-top: 1%;
}

.link-container a {
  font-size: 100%;
  width: 10%;
  margin-left: 7%;
}
a {
  color: black;
}

span {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .link-container a {
    width: 24%;
    margin-left: 9%;
  }
}
@media only screen and (max-width: 500px) {
  .link-container {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 1%;
    margin: 20% 7% 0% 0%;
  }
  .link-container a {
    width: 24%;
    margin-left: 9%;
  }
}
