.link-container {
  display: flex;
  justify-content: center;
  width: 30%;
  padding-top: 1%;
}

.link-container a {
  width: 10%;
  margin-left: 7%;
}
a {
  color: black;
}

span {
  display: flex;
  justify-content: center;
}
