.contact-form {
  width: 70%;
  color: black;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 1%;
  border: 1px solid black;
  margin: 10% 10% -6% 15%;
}
h3 {
  text-align: center;
}
label {
  margin: 1%;
}
.button {
  margin: 1%;
}
.message {
}
