.contact-form {
  width: 50%;
  color: black;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  /* height: 500px; */
  padding: 1%;
  border: 1px solid black;
  margin: 11% 1% 11% 24%;
}
h3 {
  text-align: center;
}
label {
  margin: 1%;
}
.button {
  margin: 1%;
}
.message {
  
}
