.profile-card{
    width:30%;
    /* display:flex; */
    padding: 1%;
    background-color: rgb(31, 29, 29);
    color:whitesmoke;
    opacity: 5;
   
}

.profile-card img{
    padding: 1%;
    width:70%;
    margin: 6% 0% 0% 11%;
    border-radius: 50%;
}

.name-container{
    margin:1%;
}