
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}


.app-container {
  color: black;
}
.back-image {
  width: 100%;
  position: fixed;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
}
.back-image img {
  height: 100vh;
}
.linkage {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 800px) {

}
