.nav {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  background-color: silver;
  padding: 1%;
  margin-bottom: 1%;
  box-shadow: 2px 2px grey;
}

.nav-child {
  color: black;
  width: 10%;
  text-align: center;
}
.burger {
  display: none;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: "";
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
.nav-child:hover {
  background-color: darkgray;
}
@media only screen and (max-width: 900px) {
  .nav {
    flex-direction: column;
  }
  .burger {
    display: flex;
    justify-content: center;
    padding: 1% 6% 2% 0%;
  }
  .nav-child {
    padding: 2%;
    width: 100%;
  }
  .open {
    display: flex;
    justify-content: center;
    padding: 2% 2% 2% 0%;
    font-size: x-large;
  }
  .close {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    flex-direction: column;
  }
  .burger {
    display: flex;
    justify-content: center;
    padding: 4% 10% 5% 0%;
  }
  .nav-child {
    padding: 2%;
    width: 100%;
  }
  .open {
    display: flex;
    justify-content: center;
    padding: 2% 2% 2% 0%;
    font-size: x-large;
  }
  .close {
    display: none;
    margin-bottom: 1px;
  }
}
