.profile-card {
  width: 98%;
  padding: 1%;

  height: 100%;
  margin-left: 25%;
}

.profile-card img {
  padding: 1%;
  width: 10%;
  height: 10%;
  margin: -2% 2% 0% 0%;
  border-radius: 100%;
}

.profile-card-mid {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.headline {
  /* text-align: center; */
  padding: 5%;
  line-height: 2rem;
  width: 40%;
  margin-left: 2%;
}

.name-container {
  display: flex;
  margin: 2% 1% 1% 1%;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .profile-card img {
    display: none;
  }
  .headline {
    display: none;
    /* padding: 5%;
    line-height: 2rem;
    width: 40%; */
  }
  .name-container{
    /* display: flex; */
    /* margin: 1% 1% 1% 1%; */
    /* text-align: center; */
    padding-right: 45%;
    margin-top: 80px;
    margin-bottom: 90px;
  }
}
.profile-card {
  width: 98%;
  padding: 1%;

  height: 100%;
}
@media only screen and (max-width: 400px){
  
}
