.profile-card img {
  padding: 1%;
  width: 10%;
  height: 10%;
  margin: -2% 2% 0% 0%;
  border-radius: 100%;
}

.profile-card-mid {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.headline {
  padding: 5% 10% 5% 10%;
}

.name-container {
  display: flex;
  margin: 1% 1% 1% 1%;
  text-align: center;
  justify-content: center;
}
@media only screen and (max-width: 900px) {
  .profile-card img {
    display: none;
  }
  .headline {
    display: none;
  }
}
.profile-card {
  width: 98%;
  padding: 1%;
  margin: 6% 0% 0% 0%;
}

@media only screen and (max-width: 500px) {
  .profile-card {
    width: 98%;
    padding: 1%;
    margin: 18% 0% 0% 0%;
  }
}
